<!--Your input:{{age}}
{{country}}
{{ancestry}}
{{language}}
-->
   <div class="FormArea">
       <div class="ms-Font-su ms-fontColor-themeDarkAlt" style="text-align: center; margin-top:20px">Recommended Suburbs For You</div>
<ul class="ms-List">
 
  <li class="ms-ListItem" ng-repeat="item in result"><span class="ms-ListItem-primaryText">{{item}}</span> <span class="ms-ListItem-secondaryText"></span> 
      <div class="ms-ListItem-actions">
          <div class="ms-ListItem-action" style="margin-right:20px">Like</div><div class="ms-ListItem-action">Dislike</div></div>
    </li>
  
</ul></div>